@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
.red_bg{
  background-color: #cc252b;
}
.red_text{
  color: #cc252b;
}
body{
  font-family: 'Quicksand', sans-serif;
}